*{
    box-sizing: border-box;
}


html{
    background-color: rgba(1, 1, 1, 0);
}

#header{
    margin: 10px;
    padding: 10px;
    background-color: rgba(244, 234, 150, 1);
    background-image: linear-gradient(to bottom right, rgba(244, 234, 150, 1), white);
    border-radius: 5px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

#logo{
    font-size: 24px;
}

#today{
    font-size: 26px;
}

body{
    background-image: url("images/HeartHands.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    background-attachment: scroll;
}


input{
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    border-radius: 5px;
}

.day{
    background-color: rgba(194, 180, 234, 1);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#history{
    background-color: rgba(255, 205, 42, .8);
    height: 100vh;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to top left, rgba(255, 205, 42, .5), rgba(245, 223, 113, 1));
}

#container{
    margin: 10px;
    /* padding: 10px; */
}

#dashboard{
    margin: 10px;
    /* background-color: rgba; */
    padding: 5px;
    
}

#current{
    background-color: rgba(242, 255, 169, .8);
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}


.day{
    margin: 30px;
    padding: 25px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size: 20px;
}



#logoSearch{
    font-size: 28px;

}

.search{
    font-size: 20px;
}

.search:hover{
    color: rgba(173, 90, 255, 1);
}


.search:focus{
    color: rgba(40, 120, 181, 1);
}




#submit{
    background-color: rgba(242, 255, 169, 1);
}


#submit:hover{
    background-color: rgba(136, 152, 206, 1);
}


#submit:focus{
    background-color: rgba(23, 123, 159, 1);
}